{% extends 'base.html.twig' %}



{% block title %}Profile{% endblock %}

{% block body %}
    <section id="profile">

        <div id="profile-content">

            {#Links section#}
            <div id="profile-content-left">
                <p class="menu-btn active" data-target="user">Profil</p>
                <p class="menu-btn" data-target="relations">Relations</p>
                <p class="menu-btn" data-target="projects">Projets</p>
                <p class="menu-btn" data-target="stats">Statistiques</p>
            </div>

            {# ****************MENUS SECTION***************** #}

            {#User content#}
            {% include 'profile/includes/user.html.twig' %}

            {#Relations content#}
            {% include 'profile/includes/relations.html.twig' %}

            {#Projects content#}
            {% include 'profile/includes/projects.html.twig' %}

            {#Stats content#}
            {% include 'profile/includes/stats.html.twig' %}

        </div>

    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("js/links.js") }}"></script>
    <script src="{{ asset("js/ajax.js") }}"></script>
    <script src="{{ asset("js/profile/profile.js") }}"></script>
{% endblock %}
