{% extends 'base.html.twig' %}



{% block title %}Accueil{% endblock %}

{% block body %}
    <section id="home">

       <div class="hero">
           <div class="hero-search">

               <div class="hero-search__wrapper">
                   <label for="search">Une question ?</label>
                   <div class="hero-search__bar">
                    <input type="text" placeholder="Poses ta question..." id="search">

                       <i class="fas fa-paper-plane"></i>

                   </div>

               </div>
           </div>

           <div class="hero-cta__wrapper">

            <button class="hero-cta">Partage ton expérience</button>
           </div>
       </div>
        <div class="tags">
            tags
        </div>
        <div class="large1">
            large1
        </div>
        <div class="short1">
            short1
        </div>
        <div class="large2">
            large2
        </div>

    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("js/links.js") }}"></script>
    <script src="{{ asset("js/ajax.js") }}"></script>
    <script src="{{ asset("js/home/homepage.js") }}"></script>

{% endblock %}