{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home/homepage.css') }}">
{% endblock %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <section id="home">=</section>
{% endblock %}