#content-relations {
    position: relative;
}

/*Icons*/
#relations-icons {
    position: absolute;
    right: 20px;
    top: 20px;
    color: white;
    font-size: 2.5em;

    i {
        position: relative;
        margin: 0 5px;

        #relation-requests-count {
            position: absolute;
            background-color: var(--orange);
            width: 60%;
            border-radius: 50%;
            top: -20%;
            right: -20%;

            &::after {
                content: '';
                display: block;
                padding-bottom: 100%;
            }

            div {
                position: absolute;
                width: 100%;
                height: 100%;
                text-align: center;
                top: 5%;
                font-size: 25px;
                color: white;
            }
        }

        &:hover {
            cursor: pointer;
            color: var(--green);
        }
    }
}

/*Friends-list*/
#relations-img-list {
    display: flex;
    width: 88%;
    margin: auto;
    overflow-x: scroll;
}
::-webkit-scrollbar {
    display: none;
}

.relations-img {
    width: 9%;
    position: relative;
    margin-right: 50px;
    user-select: none;
}

.relations-img > img {
    max-width: 100%;
    display: block;
    margin: auto;
    border-radius: 50%;
    pointer-events: none;
}

.relations-img > i {
    position: absolute;
    right: 5px;
    top: 55%;
    color: red;
    font-size: 1.5em;
}

.relations-img > i.online {
    color: green;
}

.relations-img > h3 {
    font-family: var(--text_font);
    font-size: 1.3em;
    text-align: center;
    color: white;
}

/*Conversations*/
#relations-conversations {
    width: 95%;
    margin: 20px auto auto auto;

    h2 {
        display: inline-block;
        text-align: center;
        padding: 10px 15px;
        background-color: var(--green);
        border-radius: 10px;
        font-size: 1.3em;
        font-family: var(--title_font);
        margin: 20px 0;
    }
}

#relations-conversations-block {
    li {
        display: flex;
        background-color: var(--dark_grey);
        border: solid 1px var(--grey);
        margin-top: 10px;
        padding: 10px 15px;

        img {
            width: 3.2em;
            border-radius: 50%;
            border: #707070 solid 1px;
            margin-right: 18px;
        }

        p {
            width: 90%;
            text-align: left;
            color: var(--green);
            font-family: sans-serif;
            font-size: 1.6em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-right: 2.5%;
            transform: translateY(25%);
        }

        i {
            color: var(--grey);
            font-size: 2.3em;
            margin-top: 8px;
            text-align: right;
            width: 3%;

            &:hover {
                cursor: pointer;
                color: var(--green);
            }
        }
    }
}

/*POPUPS*/
.relation-popup {
    h2 {
        color: var(--green);
        font-size: 2em;
    }
    input {
        margin: 10px 0;
        border: none;
        outline: none;
        padding: 5px;
        font-size: 1.2em;
    }

    /*MANAGE RELATIONS POPUP*/
    .relation-popup-list-block {
        background-color: var(--dark_grey);
        height: 87%;
        overflow-y: auto;
        .relation-popup-list {
            list-style: none;
            li {
                display: flex;
                justify-content: space-between;
                padding: 10px 2%;
                border: solid var(--dark_grey) 1px;
                img {
                    width: 5%;
                    border-radius: 50%;
                }
                div {
                    transform: translateY(25%);
                    width: 72%;
                    h3 {
                        color: var(--green);
                    }
                    p {
                        color: white;
                    }

                    &.unique-btn {
                        width: 84%;
                    }
                }
                button {
                    border: solid var(--grey) 1px;
                    background-color: var(--dark_grey);
                    color: var(--green);
                    padding: 0 1%;
                    height: 40px;
                    font-size: 1em;
                    transform: translateY(45%);
                    width: 9%;

                    &:hover {
                        color: white;
                        cursor: pointer;
                    }
                }

                &:hover {
                    border: solid var(--grey) 1px;
                    background-color: var(--medium_grey);
                }
            }
        }
    }

    /*CONVERSATION POPUP*/
    .relation-popup-conversation-block {
        background-color: var(--dark_grey);
        margin-top: 20px;
        height: 82%;
        padding: 20px;
        overflow-y: auto;
        width: 100%;

        .relation-popup-conversation-message-block {
            display: flex;
            width: 45%;
            margin-bottom: 20px;
            clear: right;

            position: relative;

            img {
                width: 3vw;
                border-radius: 50%;
                height: 100%;
            }

            div {
                margin: 0.8vw 10px;
                background-color: var(--green);
                color: white;
                border-radius: 5px;
                padding: 6px 10px;
                height: fit-content;

                .relation-popup-conversation-message-content {
                    display: inline;
                }

                .relation-popup-conversation-message-date {
                    position: absolute;
                    left: 3.8vw;
                    bottom: -10px;
                    font-size: 0.8em;
                    color: var(--grey);
                }
            }

            &.owned {
                float: right;
                justify-content: right;

                div {
                    background-color: var(--light_green);

                    > .relation-popup-conversation-message-date {
                        width: 100%;
                        text-align: right;
                        left: -3.8vw;
                    }
                }
            }

        }
    }

    .relation-popup-conversation-send-block {
        height: 8%;
        margin-top: 16px;
        display: flex;
        justify-content: space-between;

        textarea {
            height: 100%;
            width: 84%;
            margin: 0;
            background-color: var(--dark_grey);
            color: white;
            padding: 5px 5px 0 5px;
            resize: none;
            outline: none;
            border: none;

            &::placeholder {
                opacity: 0.5;
            }
        }
        button {
            height: 100%;
            border: solid var(--grey) 1px;
            background-color: var(--dark_grey);
            color: var(--green);
            padding: 0 1%;
            font-size: 1em;
            width: 15%;

            &:hover {
                color: white;
                cursor: pointer;
            }
        }
    }
}
