#content-user {
    text-align: center;
    color: white;

    img {
        max-width: 12%;
        border-radius: 50%;
    }

    button {
        text-decoration: none;
        color: black;
        background-color: var(--green);
        padding: 10px 0;
        width: 15%;
        display: block;
        margin: 40px auto 0 auto;
        font-size: 1em;
        font-weight: bold;
        border: none;
        outline: none;
        transform: scale(1);
        transition: transform 0.5s;

        &:hover {
            cursor: pointer;
            transform: scale(1.15);
        }
    }
}

//POPUP CONTENT

.user-popup {

    h2 {
        color: var(--green);
        font-size: 2em;
    }

    .user-popup-block {
        background-color: var(--dark_grey);
        margin-top: 15px;
        height: 92%;
        overflow-y: auto;
        position: relative;
        padding: 25px;


        //PP UPLOAD
        .upload {
            width: 100px;
            position: absolute;
            right: 25px;
            top: 25px;

            img {
                border-radius: 50%;
                border: 6px solid #eaeaea;
            }

            .round {
                position: absolute;
                bottom: 0;
                right: 0;
                background: #00B4FF;
                width: 32px;
                height: 32px;
                line-height: 33px;
                text-align: center;
                border-radius: 50%;
                overflow: hidden;
            }

            .round input[type = "file"] {
                position: absolute;
                transform: scale(2);
                opacity: 0;
            }
        }

        input[type=file]::-webkit-file-upload-button {
            cursor: pointer;
        }

        //PROFIL INPUTS
        .user-popup-input {
            border-bottom: solid 1px var(--grey);
            margin: 0 30px 45px 0;
            width: 45%;

            i {
                color: var(--green);
                font-size: 1.6em;
                margin-right: 10px;
            }

            input {
                border: none;
                outline: none;
                font-size: 1.6em;
                width: 80%;
                background-color: transparent;
                color: white;

                &::placeholder {
                    opacity: 0.3;
                }
            }

            textarea {
                resize: none;
                height: 200px;
            }
        }

        //PROFIL TEXTAREA
        .user-popup-textarea {
            border-bottom: solid 1px var(--grey);
            margin: 30px 0 45px 0;
            width: 100%;
            position: relative;

            i {
                color: var(--green);
                font-size: 1.6em;
                margin-right: 10px;
                position: absolute;
                top: 0;
                left: 0;
            }

            textarea {
                margin-left: 1.6em;
                border: none;
                outline: none;
                font-size: 1.6em;
                width: 95%;
                background-color: transparent;
                color: white;
                resize: none;
                height: 150px;

                &::placeholder {
                    opacity: 0.3;
                }
            }
        }

        #user-popup-advanced {
            color: white;
            margin: 20px 0;

            .user-popup-advanced-input {

                h3 {
                    font-size: 1.4em;
                    margin-top: -5px;
                }

                label {
                    font-size: 1em;
                }

                color: var(--grey);
                display: flex;
                justify-content: space-evenly;
                width: 40%;
                margin: auto;
            }

            #professional-content-skills {

                display: flex;
                width: 100%;
                background-color: var(--light_grey);

                #professional-content-skills-list {
                    list-style: none;
                    height: 200px;
                    overflow-y: auto;
                    color: var(--green);
                    display: inline-block;
                    border-right: solid 1px white;

                    li {

                        padding: 10px;
                        border: var(--light_grey) solid 1px;

                        &:hover  {
                            cursor: pointer;
                            border: grey solid 1px;
                            background-color: var(--dark_grey);
                        }
                    }
                }

                #professional-content-skills-owned {
                    display: flex;
                    flex-wrap: wrap;
                    list-style: none;
                    height: 200px;
                    overflow-y: auto;
                    color: var(--green);
                    max-width: 80%;

                    li {

                        padding: 10px;
                        display: inline-block;
                        height: calc(100% / 5);

                        i {

                            color: white;

                            &:hover {
                                cursor: pointer;
                                color: var(--error);
                            }
                        }
                    }
                }

            }
        }

        #user-popup-password-change {
            margin-top: 20px;

            .flex-wrap {
                display: flex;
                flex-wrap: wrap;

                .user-popup-input {
                    margin-bottom: 10px;
                }
            }
        }

        //CONFIRM BUTTON
        button {
            width: 20%;
            margin: auto;
            display: block;
            color: var(--dark_grey);
            background-color: var(--green);
            font-size: 1.4em;
            border: none;
            padding: 10px 0;
            text-align: center;
            
            &:hover {
                cursor: pointer;
                background-color: var(--light_green);
            }
        }
    }
}