#content-user {
    text-align: center;
    color: white;

    img {
        max-width: 12%;
        border-radius: 50%;
    }

    button {
        text-decoration: none;
        color: black;
        background-color: var(--green);
        padding: 10px 0;
        width: 15%;
        display: block;
        margin: 40px auto 0 auto;
        font-size: 1em;
        font-weight: bold;
        border: none;
        outline: none;
        transform: scale(1);
        transition: transform 0.5s;

        &:hover {
            cursor: pointer;
            transform: scale(1.15);
        }
    }
}