#profile {
  margin-top: 180px;
  padding: 50px 0;
  background-color: #30333F;
}

#profile-content {
  width: 85%;
  margin: auto;
  display: flex;
}

/*Links*/
#profile-content-left {
  width: 15%;
  background-color: #252633;
}

.menu-btn {
  color: white;
  width: 100%;
  padding: 30px 0;
  text-align: center;
  font-size: 1.5em;
  font-family: var(--text_font);
}

.menu-btn:hover, .menu-btn.active {
  color: #00FFC3;
  background-color: #363743;
  cursor: pointer;
}

hr {
  border: #FFE700 solid 4px;
}

/*Content*/
.menu-info {
  min-height: 500px;
  width: 85%;
  background-color: #363743;
  padding: 120px 0;
}