{% extends 'base_admin.html.twig' %}

{% block title %}Panel Admin - {{ page_name }}{% endblock %}


{% block body %}
    {% include 'admin/includes/topbar.html.twig' %}

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">{{ page_name }}</h1>
        </div>

        {% include 'admin/includes/sections/' ~ page_name ~ '.html.twig' %}

    </div>
    <!-- /.container-fluid -->
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("js/ajax.js") }}"></script>
    <script src="{{ asset("js/admin/admin.js") }}"></script>
{% endblock %}