:root {

    --dark_grey: #252633;
    --medium_grey: #313140;
    --light_grey: #363743;
    --grey: #9c9c9c;
    --yellow: #FFEE3E;
    --orange: #FDD56C;
    --green: #00fec2;
    --light_green: #00ff88;
    --dark_green: #00694f;
    --blue: #488CE1;
    --red: #E6103B;
    --error: #ab2f2f;
    --success: #37a237;

    --gold: #CBBD31;
    --aqua: #00FEC2;
    --mat_gold: #b79136;
    --mat_aqua: #39a289;
    --mat_red: #993249;
    --white: #ffffff;

    --text_font: sans-serif;
    --button_font: sans-serif;
    --title_font: sans-serif;

    --right_menu_size: 4%;
    --popup_width: 90%;

}

/* FONTS */

@font-face {
    font-family: 'zilla_slabmedium';
    src: url('../../fonts/zillaslab-medium-webfont.woff2') format('woff2'),
    url('../../fonts/zillaslab-medium-webfont.woff') format('woff'),
    url('../../fonts/Roboto-Medium.ttf') format('ttf'),
    url('../../fonts/Roboto-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}

/* PARAMS */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.model {
    display: none;
}

html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

main {
    margin-top: 180px;
}

/* RADIO INPUT */

input[type="radio"] {
    display: none;

    & + label {
        position: relative;
        padding-left: 1.3rem;

        &:before,
        &:after {
            display: block;
            position: absolute;
            box-sizing: border-box;
            content:'';
            border-radius: 1rem;
        }

        &:before {
            bottom: 0;
            left: 0;
            border: 1px solid var(--green);
            background-color: var(--grey);
            width: 1rem;
            height: 1rem;
        }

        &:after {
            bottom: 3px;
            left: 3px;
            width: calc(1rem - 6px);
            height: calc(1rem - 6px);
        }

        &:hover {
            cursor: pointer;
        }
    }

    &:checked + label::after {
        background-color: var(--green);
    }
}

/* HEADER */

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
}

    /* HEADER TOP SECTION */

.header-top {
    background-color: black;
    position: relative;
    height: 90px;
}

        /* LOGO */

.header-top-logo {
    display: flex;
    position: absolute;
    width: 50%;
    top: 20px;
    left: 2%;
    z-index: 1;
}

.header-top-logo > img {
    background-color: var(--dark_grey);
    border-radius: 50%;
    object-fit: contain;
    width: 9em;
}

.header-top-logo-desc {
    font-family: "zilla_slabmedium", sans-serif;
    color: white;
    margin-left: 10px;
    width: 50%;
}

.header-top-logo-desc > h1, .header-top-logo-desc > hr {
    margin: 0 0 0 15px;
}

.header-top-logo-desc > p{
    font-size: 0.9em;
    margin: 0;
}

.header-top-logo-desc > h1{
    font-size: 2em;
    margin-top: -6px;
}



/* HEADER BOT SECTION */

.header-bot {
    background-color: var(--yellow);
    padding: 10px 0;
    height: 90px;
}

.header-bot-nav {
    height: 65px;
    background-color: var(--dark_grey);
    box-sizing: border-box;
    width: 88.9%;
    float: right;
    margin-right: 1%;
    position: relative;
}

.header-bot-nav-circle {
    clip-path: ellipse(54px 100% at 0 2%);
    width: 54px;
    height: 100%;
    float: left;
    background-color: var(--yellow);
    position: absolute;

}

.header-bot-nav-links {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 20px auto 0 auto;
}

.header-bot-nav-links > a {
    text-decoration: none;
    color: white;
    font-size: 1.4em;
    z-index: 1;
    font-family: sans-serif;
}

.header-bot-nav-links > a:after {
    content: '';
    display: block;
    margin: auto;
    height: 4px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
.header-bot-nav-links > a:hover:after, .header-bot-nav-links > a:hover:after, .header-bot-nav-links > a.underlined:after {
    width: 100%;
    background: white;
}

