<footer class="footer">
    <div class="container">
        <div class="footer__social">
            <div class="wrapper">
                <div class="icon facebook">
                    <div class="tooltip">Facebook</div>
                    <span><i class="fab fa-facebook-f"></i></span>
                </div>
                <div class="icon twitter">
                    <div class="tooltip">Twitter</div>
                    <span><i class="fab fa-twitter"></i></span>
                </div>
                <div class="icon instagram">
                    <div class="tooltip">Instagram</div>
                    <span><i class="fab fa-instagram"></i></span>
                </div>
                <div class="icon github">
                    <div class="tooltip">Github</div>
                    <span><i class="fab fa-github"></i></span>
                </div>
                <div class="icon youtube">
                    <div class="tooltip">Youtube</div>
                    <span><i class="fab fa-youtube"></i></span>
                </div>
            </div>
        </div>

        <div class="footer__links col1">
            <p class="footer__links__title">Liens</p>
            <a href="#">Accueil</a>
            <a href="#">Forum</a>
            <a href="#">Services</a>
        </div>

        <div class="footer__links col2">
            <p class="footer__links__title">Informations</p>
            <a href="#">A propos</a>
            <a href="#">CGU</a>
        </div>

        <div class="footer__copyright">
            <p class="footer__copyright__title">Fordev</p>
            <p class="footer__copyright__text">
                Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.
            </p>
        </div>
    </div>
    <div class="attribution">
        Fordev © {{ getField('copyright_year') }} Tous droits réservés.
    </div>
</footer>