/* FONTS */

@font-face {
  font-family: 'zilla_slabmedium';
  src: url('../../fonts/zillaslab-medium-webfont.woff2') format('woff2'),
  url('../../fonts/zillaslab-medium-webfont.woff') format('woff'),
  url('../../fonts/Roboto-Medium.ttf') format('ttf'),
  url('../../fonts/Roboto-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;

}