#home {
    font-family: "Roboto-Regular", sans-serif;
    .hero {
        background: url("../../img/home/background_1.png") no-repeat fixed;
        background-size: cover;
        width: 100%;
        height: 500px;
        border: 3px solid #00FFC3;
        button {
            margin-left: 30%;
        }

        .hero-search {
            .hero-search__wrapper {
                text-align:left;
                margin: 6% auto;
                width: 40%;


                input, label {
                    display: block;
                }
                label{
                    color:#fff;
                    font-size:48px;
                    padding: 2% 0

                }


                .hero-search__bar {
                    display: flex;
                    align-items: center;
                    border-bottom: 3px solid #00FFC3;



                    input {
                        font-size:34px;
                        border: none;
                        color: #fff;
                        background:none;
                        width: 100%;
                        &:focus {
                            outline: none;
                        }



                    }
                    i {
                        padding: 5px;
                        font-size:34px;
                        color: #fff;
                        cursor: pointer;

                        &:hover {
                            color: var(--green)

                        }

                    }
                }
            }

        }


    }
}
