<div class="menu-info" id="content-stats">
    <div id="content-stats-values">
        <div class="gold">
            <div>
                {{ stats.glories }} <br> Gloire(s)
            </div>
        </div>
        <div class="aqua">
            <div>
                {{ stats.projects }} <br> Projet(s)
            </div>
        </div>
        <div class="red">
            <div>
                64 <br> Posts
            </div>
        </div>
        <div class="mat_gold">
            <div>
                {{ stats.weeks }} semaine(s) <br> d'ancienneté
            </div>
        </div>
        <div class="mat_aqua">
            <div>
                132 <br> Visites profil
            </div>
        </div>
        <div class="mat_red">
            <div>
                214 <br> Commentaires
            </div>
        </div>
    </div>
</div>