#home {
    font-family: "Roboto-Regular", sans-serif;
    .hero {
        background: url("../../img/home/hero.png") no-repeat fixed;
        background-size: cover;
        width: 100%;
        padding: 10em 0;


        button {
            margin-left: 30%;
        }

        .hero-search {
            .hero-search__wrapper {
                text-align:left;
                margin: 0 auto 6% auto;
                width: 40%;


                input, label {
                    display: block;
                }
                label{
                    color:#fff;
                    font-size:48px;
                    padding: 2% 0

                }


                .hero-search__bar {
                    display: flex;
                    align-items: center;
                    border-bottom: 3px solid #00FFC3;



                    input {
                        font-size:34px;
                        border: none;
                        color: #fff;
                        background:none;
                        width: 100%;
                        &:focus {
                            outline: none;
                        }



                    }
                    i {
                        padding: 5px;
                        font-size:34px;
                        color: #fff;
                        cursor: pointer;

                        &:hover {
                            color: var(--green)

                        }

                    }
                }
            }

        }




    }

    .tags {
        background-color: var(--dark_grey);
        height: 192px;
    }

    .large1 {
        background-color: var(--light_grey);
        height: 709px;
    }
    .short1 {
        background-color: var(--dark_grey);
        height: 192px;
    }

    .large2 {
        background-color: var(--light_grey);
        height: 1464px;
    }


}
