.footer {
    background-color: var(--dark_grey);
    color: var(--white);
    padding: 2.5rem 6.5rem;
    text-align: center;
    font-family: sans-serif;
    border-top: 8px solid var(--yellow);



    .container {
        @include breakpoint-up(large) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr auto;
            grid-template-areas:
        ' links1 links2 copyright '
        ' social social social ';
            gap: 1rem;
            justify-items: start;
        }
        @include breakpoint-down(medium) {
            grid-template-columns: 1fr;
        }
    }

    a {
        color: var(--white);
    }

    &__social {
        @include breakpoint-down(medium) {
            margin-bottom: 1.875rem;
        }
        grid-column-start: 2;
        margin:  0 auto;

        .wrapper {
            display: flex;
        }

        .wrapper .icon {
            position: relative;
            background-color: #ffffff;
            border-radius: 50%;
            padding: 15px;
            margin: 10px;
            width: 30px;
            height: 0px;
            font-size: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            color: var(--dark_grey);
        }

        .wrapper .tooltip {
            position: absolute;
            top: 0;
            font-size: 14px;
            background-color: #ffffff;
            color: #ffffff;
            padding: 5px 8px;
            border-radius: 5px;
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
            opacity: 0;
            pointer-events: none;
            transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }

        .wrapper .tooltip::before {
            position: absolute;
            content: '';
            height: 8px;
            width: 8px;
            background-color: #ffffff;
            bottom: -3px;
            left: 50%;
            transform: translate(-50%) rotate(45deg);
            transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }

        .wrapper .icon:hover .tooltip {
            top: -45px;
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
        }

        .wrapper .icon:hover span,
        .wrapper .icon:hover .tooltip {
            text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
        }

        .wrapper .facebook:hover,
        .wrapper .facebook:hover .tooltip,
        .wrapper .facebook:hover .tooltip::before {
            background-color: #3b5999;
            color: #ffffff;
        }

        .wrapper .twitter:hover,
        .wrapper .twitter:hover .tooltip,
        .wrapper .twitter:hover .tooltip::before {
            background-color: #46c1f6;
            color: #ffffff;
        }

        .wrapper .instagram:hover,
        .wrapper .instagram:hover .tooltip,
        .wrapper .instagram:hover .tooltip::before {
            background-color: #e1306c;
            color: #ffffff;
        }

        .wrapper .github:hover,
        .wrapper .github:hover .tooltip,
        .wrapper .github:hover .tooltip::before {
            background-color: #333333;
            color: #ffffff;
        }

        .wrapper .youtube:hover,
        .wrapper .youtube:hover .tooltip,
        .wrapper .youtube:hover .tooltip::before {
            background-color: #de463b;
            color: #ffffff;
        }

        a:not(:last-child) {
            margin-right: 1rem;
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.9375rem;

        &__title {
            font-size: 26px;
            font-weight: 700;
            color: var(--white);
            margin-bottom: 11px;
        }

        @include breakpoint-up(large) {
            align-items: start;
        }

        &.col1 {
            @include breakpoint-up(large) {
                grid-area: links1;
            }
        }

        &.col2 {
            @include breakpoint-down(medium) {
                margin-bottom: 1.875rem;
            }

            @include breakpoint-up(large) {
                grid-area: links2;
            }
        }

        a {
            line-height: 2.25;
            transition: color 150ms ease-in-out;
            color: var(--grey);
            text-decoration: none;
            font-size:16px;

            &:hover {
                color: var(--green);
            }
        }
    }

    &__copyright {
        text-align:left;

        @include breakpoint-up(large) {
            grid-area: copyright;

        }

        &__title {
            font-size: 26px;
            font-weight: 700;
            color: var(--white);
            margin-bottom: 11px;

        }
        &__text {
            font-size: 16px;
            font-weight: 500;
            color: var(--grey);
            width: 40rem;
        }
    }

    .attribution {
        color: var(--grey);
        margin-top: 23px;
        font-size: 16px;
    }
}
