{% extends 'base.html.twig' %}



{% block title %}Forum{% endblock %}

{% block body %}
    <section id="forum">



    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("js/links.js") }}"></script>
    <script src="{{ asset("js/ajax.js") }}"></script>

{% endblock %}