{% extends 'base.html.twig' %}



{% block title %}Nouveau Topic{% endblock %}

{% block body %}
    <section id="view-topic">

    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("js/links.js") }}"></script>
    <script src="{{ asset("js/ajax.js") }}"></script>
{% endblock %}